<h1>Mes pièces</h1>

<div>
  <% @rooms.each do |room| %>
    <%= link_to room_path(room) do %>

      <p><%= room.id %> -
        <%= room.name %></p>
    <% end %>

      <%= link_to "Supprimer", room_path(room), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette pièce ?"} %>
      <td><%= link_to "Modifier", edit_room_path(room) %></td>
      <br><br>
  <% end %>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Ajouter une nouvelle pièce</h2>

      <%= simple_form_for @room do |f| %>
        <%= f.input :name, label: "Nom de la pièce" %>
              <h1>Ajout une peinture</h1>
        <%= f.simple_fields_for :paintings do |p| %>
          <%= p.input :color %>
          <%= p.input :brand %>
          <%= p.input :date_painted %>
        <% end %>


        <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>
