<h1><%= @room.name %></h1>

<p><%= @room.items.count %> items in this room:</p>

  <% @room.items.each do |item| %>
    <h4><%= item.name %> - </h4>
        <p><%= item.id %> -
    <%= item.description  %></p>
  <%= link_to "Supprimer", room_item_path(@room, item), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet item ?"} %>
  <% end %>


<%= simple_form_for [@room, @item] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit, 'Add Item' %>
<% end %>
        <%= link_to "return to dashboard", rooms_path, class: 'btn button-essential' %>
